<div id="<%= dom_id article_review %>">
  <p>
    <strong>User:</strong>
    <%= article_review.user_id %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= article_review.article_id %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= article_review.review %>
  </p>

</div>
