<h1>Editing article review</h1>

<%= render "form", article_review: @article_review %>

<br>

<div>
  <%= link_to "Show this article review", @article_review %> |
  <%= link_to "Back to article reviews", article_reviews_path %>
</div>
